.orange-bg{
    background-color: bisque;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now{
    background-image: linear-gradient(to bottom,#FF589B 0% ,#FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    cursor: pointer;

}
.container{
    margin-bottom: 100px;
}

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
}

.cat1{
    background-color: rgb(10, 116, 143);
}

.cat2{
    background-color: #FF589B;
}

.cat3{
    background-color: chocolate;
}

.categories h1{
    color: white;
}

.categories img{
    width: 150px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}

.card-footer{
    background-color: white;
    border-top: none;
}

#contact{
    margin-top: 100px;
    height: 300px;
}

#backpack{
    margin-top: 100px;
}

footer{
    text-align: center;
}